In [1]:
a,b,c=1,2,"john"
print(a,b,c,sep=",")

1,2,john

In [2]:
a=b=c=1
print(a,b,c)

1 1 1

In [3]:
print(id(a))
print(id(b))
print(id(c))

2425876343088
2425876343088
2425876343088

In [4]:
#typeof 
a=3.12
type(a)

float

In [5]:
b=2
type(b)

int

In [6]:
print(a,b,sep="\n")

3.12
2

In [7]:
str1= "Python is a programming language"
print(str1)

Python is a programming language

In [8]:
print(str1[0])
print(str1[2:16])
print(str1[6:18])

P
thon is a prog
 is a progra

In [9]:
print(str1[:-1])
print(str1[-20:-1])
print(str1[-7:])
print(str1[-40:])
print(str1[:])

Python is a programming languag
programming languag
anguage
Python is a programming language
Python is a programming language

In [10]:
#Updation of character
str1[0]='d'
#deletion of character
del str1[2]

TypeError: 'str' object does not support item assignment

In [11]:
str1="My name is Gauri"
print(str1)

My name is Gauri

In [12]:
#Default order
str="{} {} {}".format('python','programming','language')
print("\nPrint String in Positional order:")
print(str)

Print String in Positional order:
python programming language

In [13]:
#Positional formatting
str="{1} {0} {2}".format('python','programming','language')
print("\nPrint String in Positional order:")
print(str)

Print String in Positional order:
programming python language

In [14]:
#keyword formatting
str="{a} {e} {c}".format(a='python',e='programming',c='language')
print("\nPrint String in Positional order:")
print(str)

Print String in Positional order:
python programming language

In [15]:
#list
L=[1,2,3,"abes",12.5]
print(L)
L[0:3]

[1, 2, 3, 'abes', 12.5]

[1, 2, 3]

In [16]:
list1=['abcd',786,2.23,'john',70.2]
list2=[123,'bhg']
print(list2*2)
print(list1+list2)

[123, 'bhg', 123, 'bhg']
['abcd', 786, 2.23, 'john', 70.2, 123, 'bhg']

In [17]:
#take input
num=int(input("enter a number"))
print(num,'',sep='.')

enter a number25
25.

In [19]:
#take input and split into words
str=input("Enter any sequence")

Enter any sequence12,34,56,67,1

In [27]:
l=str.split()
print(l)

['12,34,56,67,1']

In [29]:
#tuples
t1=(12,"abc","john",567,"Guari")
t2=(123,"jonny")
print(t1)

(12, 'abc', 'john', 567, 'Guari')

In [33]:
print(t1[0])
print(t1[2:])
print(t1[1:3])
print(t1[:4])
print(t1*2)
print(t1+t2)

12
('john', 567, 'Guari')
('abc', 'john')
(12, 'abc', 'john', 567)
(12, 'abc', 'john', 567, 'Guari', 12, 'abc', 'john', 567, 'Guari')
(12, 'abc', 'john', 567, 'Guari', 123, 'jonny')

In [39]:
t1=(12,"abc","john",567,"Guari")
list=[12,"abc","john",567,"Guari"]
t1[2]=1000
list[2]=1000
print(t1)

TypeError: 'tuple' object does not support item assignment

In [43]:
#dictionary
dict1={}
dict1['one']="This is programm"
dict1[2]="This is python programm"
dict2={123,"Gauri",34.6,"Rajesh"}

In [47]:
print(dict1['one'])
print(dict2)

This is programm
{'Rajesh', 34.6, 123, 'Gauri'}

In [5]:
dict3={'name':"Gauri",'id': 200305105102,"dept":"CSE"}
print(dict3.keys())
print(dict3)
print(dict3.values())

dict_keys(['name', 'id', 'dept'])
{'name': 'Gauri', 'id': 200305105102, 'dept': 'CSE'}
dict_values(['Gauri', 200305105102, 'CSE'])