In [3]:
#importing panda package
import pandas as pd
#making dataframe from csv file
data=pd.read_csv("nba-2.csv", index_col="Name")
#retrieving columns by indexing operator
first= data["Age"]
print(first)

Name
Avery Bradley    25
Jae Crowder      25
John Holland     27
R.J. Hunter      22
Jonas Jerebko    29
                 ..
Trey Lyles       20
Shelvin Mack     26
Raul Neto        24
Tibor Pleiss     26
Jeff Withey      26
Name: Age, Length: 457, dtype: int64

In [7]:
#selecting multiple column
import pandas as pd
#making dataframe from csv file
data=pd.read_csv("nba-2.csv", index_col="Name")
#retrieving columns by indexing operator
first= data[["Age","College","Salary"]]
first

               Age            College     Salary
Name
Avery Bradley   25              Texas  7730337.0
Jae Crowder     25          Marquette  6796117.0
John Holland    27  Boston University        NaN
R.J. Hunter     22      Georgia State  1148640.0
Jonas Jerebko   29                NaN  5000000.0
...            ...                ...        ...
Trey Lyles      20           Kentucky  2239800.0
Shelvin Mack    26             Butler  2433333.0
Raul Neto       24                NaN   900000.0
Tibor Pleiss    26                NaN  2900000.0
Jeff Withey     26             Kansas   947276.0

[457 rows x 3 columns]

In [11]:
#selecting single row
import pandas as pd
#making dataframe from csv file
data=pd.read_csv("nba-2.csv", index_col="Name")
#retrieving row by loc method 
first= data.loc["Avery Bradley"]
second=data.loc["R.J. Hunter"]
print(first,"\n\n\n",second)

Team        Boston Celtics
Number                   0
Position                PG
Age                     25
Height               2-Jun
Weight                 180
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height               5-Jun
Weight                 185
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [12]:
import pandas as pd
#making dataframe from csv file
data=pd.read_csv("nba-2.csv", index_col="Name")
#retrieving row by loc method 
first= data.loc["Avery Bradley"]
second=data.loc["John Holland"]
print(first,"\n\n\n",second)

Team        Boston Celtics
Number                   0
Position                PG
Age                     25
Height               2-Jun
Weight                 180
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team           Boston Celtics
Number                     30
Position                   SG
Age                        27
Height                  5-Jun
Weight                    205
College     Boston University
Salary                    NaN
Name: John Holland, dtype: object

In [13]:
#selecting Multiple rows
import pandas as pd
#making dataframe from csv file
data=pd.read_csv("nba-2.csv", index_col="Name")
#retrieving row by loc method 
first= data.loc[["Avery Bradley","John Holland"]]
print(first)

                         Team  Number Position  Age Height  Weight  \
Name
Avery Bradley  Boston Celtics       0       PG   25  2-Jun     180
John Holland   Boston Celtics      30       SG   27  5-Jun     205

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
John Holland   Boston University        NaN

In [14]:
import pandas as pd
#making dataframe from csv file
data=pd.read_csv("nba-2.csv", index_col="Name")
#retrieving row by loc method 
first= data.loc[["Avery Bradley","John Holland"],["Team","Number","Position"]]
print(first)

                         Team  Number Position
Name
Avery Bradley  Boston Celtics       0       PG
John Holland   Boston Celtics      30       SG

In [15]:
#Selecting all rows with some columns
import pandas as pd
#making dataframe from csv file
data=pd.read_csv("nba-2.csv", index_col="Name")
#retrieving row by loc method 
first= data.loc[:,["Team","Number","Position"]]
print(first)

                         Team  Number Position
Name
Avery Bradley  Boston Celtics       0       PG
Jae Crowder    Boston Celtics      99       SF
John Holland   Boston Celtics      30       SG
R.J. Hunter    Boston Celtics      28       SG
Jonas Jerebko  Boston Celtics       8       PF
...                       ...     ...      ...
Trey Lyles          Utah Jazz      41       PF
Shelvin Mack        Utah Jazz       8       PG
Raul Neto           Utah Jazz      25       PG
Tibor Pleiss        Utah Jazz      21        C
Jeff Withey         Utah Jazz      24        C

[457 rows x 3 columns]

In [16]:
#selecting single row
import pandas as pd
#making dataframe from csv file
data=pd.read_csv("nba-2.csv", index_col="Name")
#retrieving row by iloc method 
row2= data.iloc[3]

print(row2)

Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height               5-Jun
Weight                 185
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [17]:
#selecting multiple row
import pandas as pd
#making dataframe from csv file
data=pd.read_csv("nba-2.csv", index_col="Name")
#retrieving row by iloc method 
row2= data.iloc[[3,5,7]]

print(row2)

                        Team  Number Position  Age  Height  Weight  \
Name
R.J. Hunter   Boston Celtics      28       SG   22   5-Jun     185
Amir Johnson  Boston Celtics      90       PF   29   9-Jun     240
Kelly Olynyk  Boston Celtics      41        C   25  Jul-00     238

                    College      Salary
Name
R.J. Hunter   Georgia State   1148640.0
Amir Johnson            NaN  12000000.0
Kelly Olynyk        Gonzaga   2165160.0

In [20]:
#selecting rows and columns
import pandas as pd
#making dataframe from csv file
data=pd.read_csv("nba-2.csv", index_col="Name")
#retrieving row by iloc method 
row2= data.iloc[[3,5],[1,2]]
row2

              Number Position
Name
R.J. Hunter       28       SG
Amir Johnson      90       PF